<div><a href="/">back</a></div>
<h2>Create a New Recipe!</h2>

<form action="/recipes" method="post">
  Recipe name:
  <input type="text" name="recipe_name">
  <br>
  Recipe description:
  <input type="text" name="recipe_description">
  <br>
  Prep time:
  <input type="text" name="prep_time">
  <br>
  <input type="submit" value="Submit">
</form>
